body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.backgroundBody {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: url('./yugi.jpg') ;
  filter: blur(100px) contrast(2) hue-rotate(360deg);
  animation: back 20s infinite;
  z-index: -1;
} @keyframes back {
  0%,100% {
    filter: blur(0) contrast(1) hue-rotate(0deg);
  } 50% {
    filter: blur(100px)  contrast(2) hue-rotate(360deg);
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 26;
}
 /* .spinner::before {
  content: '';
  position: absolute;
  top: 0 ;
  height: 100px;
  width: 100px;
  border: 4px solid transparent;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-radius: 50%;
  animation: ooo 0.9s infinite linear;
}  */
.spinner::after {
  content: '';
  position: absolute;
  top: 0 ;
  height: 100px;
  width: 100px;
  border: 2px solid transparent;
  border-top: 2px solid royalblue;
  border-bottom: 2px solid royalblue;
  border-radius: 50%;
  animation: ooo 0.7s infinite linear;
} @keyframes ooo {
  100% {
    transform: rotate(360deg);
  }
}

.highlight {
  position: fixed;
  top: 0 ;
  background-color: #111;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  z-index: 25;
}

.all {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.cards {
  width: 300px;
  margin: 5px;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background-color: #111;
  color: white;
  transition: 0.3s linear;
  box-shadow: 0 0 100px black;
}

.cards img {
  width: 100%;
  border-radius: 0 0 25px 25px;
  object-fit: cover;
}

.btns {
  margin-top: 20px ;
  padding-top: 30px ;
  padding-bottom: 20px ;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btns button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: red;
  color: white;
  border: 1px solid ;
  font-size: 20px;
  transition: 0.3s linear;
} .btns button:hover {
  background-color: white;
  color: red ;
}

.btn_open {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px;
}

.open {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 25px;
  border: 0;
  background-color: black;
  color: white ;
  transition: 0.3s linear;
} .open:hover {
  background-color: white;
  color: black
}

.spell {
  background-color: green;
  box-shadow: 0 0 100px green !important;
  color: white;
  transition: 0.3s;
}
.effect {
  background-color: coral;
  box-shadow: 0 0 100px coral !important;
  color: white;
}
.trap {
  background-color: purple;
  box-shadow: 0 0 100px purple !important;
  color: gold;
}
.common {
  background-color: lightcoral;
  box-shadow: 0 0 100px lightcoral !important;
  color: gold;
}


.allDesc {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: lol 0.4s ease-in-out;
} @keyframes lol {
  0% {
    opacity: 0;
  } 50% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  } 100% {
    opacity: 1;
  }
} .desc {
  height: 600px;
  width: 90vw;
  border-radius: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #222;
  box-shadow: 0 0 10px black;
} .desc::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
} .desc::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 25px;
}

.imgCards {
  position: fixed;
} .imgCards img {
  border-radius: 25px;
  box-shadow: 5px 0px 5px rgb(0, 0, 0, 0.3);
  /* max-height: none; */
  height: 600px;
  /* width: 600px;*/
}

.attr {
  width: calc(100% - 650px);
  float: right;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: start;
  padding: 10px 20px;
  color: white ;
  text-shadow: 0 0 10px black;
} .attr span {
  word-spacing: 10px;
  color: gold;
}

.light {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #222;
  opacity: 0.9;
  animation: pop 0.3s linear;
} @keyframes pop {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.xmark {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 20;
  cursor: pointer;
  font-size: 30px;
  background-color: white;
  color: red;
  padding: 0 10px;
  border-radius: 10px;
  transition: 0.3s linear;
  animation: lol 0.5s linear;
} .xmark:hover {
  color: white ;
  background-color: red;
  transform: translate(-50%) scale(1.2);
}

.searched {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  height: 500px;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: hidden;
}

.searchIcon {
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  width: 150px;
  padding: 10px;
  height: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s linear;
  font-size: 20px;
  box-shadow: 0 0 10px black;
} .searchIcon:hover {
  color: lightgreen;
} .searchIcon::after {
  content: 'Search . . .';
  position: absolute;
  left: 60px;
} .searchIcon::before {
  content: '';
  position: absolute;
  top: 0 ;
  left: 0;
  background: url(./yugi.jpg);
  width: 100%;
  height: 40px;
  z-index: -1;
  filter: blur(5px) contrast(10) opacity(0.7);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #999;
  height: 40px;
  text-align: center;
  box-shadow: 0 0 30px black;
  font-size: 25px;
  font-weight: bold;
  color: white ;
  text-shadow: 0 0 10px black;
} .header::before {
  content: '';
  position: fixed;
  top: 0 ;
  left: 0;
  background: url(./yugi.jpg);
  width: 100%;
  height: 40px;
  z-index: -1;
  filter: blur(5px) contrast(10) opacity(0.7);
}

.compSearch {
  position: fixed;
  background-color: #222;
  animation: poio 0.4s;
  transform: translate(0);
  top: 0;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
} @keyframes poio {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  } 50% {
    opacity: 0.7;
  } 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.compSearch::-webkit-scrollbar {
  overflow: overlay ;
} 
.compSearch::-webkit-scrollbar-thumb {
  background-color: #222;
}

.xmarkSearch {
  position: fixed;
  right: 0;
  z-index: 20;
}


@media (max-width: 1100px) {
  .desc {
    height: 90vh;
  }
  .imgCards {
    position: relative;
    padding: 20px;
  } .attr {
    width: 100%;
    float: none;
  } .attr p {
    margin-right: 25px;
    line-height: 2.5rem;
  } .imgCards img {
    height: 100%;
    width: 600px
  }
}

@media (max-width: 750px) {
  .imgCards img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header {
    text-align: end;
    padding: 0px 20px;
  }
}