body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Type Cards */
.spell {
  /* background: #1D9E74; */
  /* background: linear-gradient(0deg, rgba(29,158,116,1) 90%, rgba(255,255,255,1) 100%); */
  color: white;
  background: linear-gradient(90deg, rgba(29,158,116,1) 80%, rgba(255,255,255,1) 100%) ;
  transition: 0.3s;
  animation: back 0.5s linear;
  box-shadow: 0 0 50px rgba(29,158,116,1) !important;
}

.trap {
  background: linear-gradient(90deg, rgba(188,90,132,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(188,90,132,1) !important;
  color: gold;
  animation: back 0.5s linear;
}

.normal {
  background: linear-gradient(90deg, rgba(253,230,138,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(253,230,138,1) !important;
  color: #1D9E74 !important ;
  animation: back 0.5s linear;
  text-shadow: 0 0 10px white ;
}

.effect {
  background: linear-gradient(90deg, rgba(255,139,83,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(255,139,83,1) !important;
  color: white;
  animation: back 0.5s linear;
}

.ritual {
  background: linear-gradient(90deg, rgba(157,181,204,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(157,181,204,1) !important;
  animation: back 0.5s linear;
  text-shadow: 0 0 10px #444 ;
}

.fusion {
  background: linear-gradient(90deg, rgba(160,134,183,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(160, 134,183,1) !important;
  animation: back 0.5s linear;
}

.synchro {
  background: linear-gradient(90deg, rgba(204,204,204,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(204,204,204,1) !important;
  animation: back 0.5s linear;
  color: #666 !important;
}

.xyz {
  background: linear-gradient(90deg, rgba(0,0,0,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(0,0,0,1) !important;
  animation: back 0.5s linear;
}

.token {
  background: linear-gradient(90deg, rgba(192,192,192,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(192,192,192,1) !important;
  animation: back 0.5s linear;
}

.normal_pendulum {
  background: radial-gradient(circle, rgba(29,158,116,1) 70%, rgba(253,230,138,1) 90%);
  box-shadow: 0 0 50px rgba(29,158,116,1) !important;
  animation: back 0.5s linear;
} .normal_pendulum img {
  max-width: 600px;
}

.effect_pendulum {
  background: radial-gradient(circle, rgba(29,158,116,1) 70%, rgba(255,139,83,1) 90%);
  box-shadow: 0 0 50px rgba(29,158,116,1) !important;
  animation: back 0.5s linear;
} .effect_pendulum img {
  max-width: 600px;
}

.ritual_pendulum {
  background: radial-gradient(circle, rgba(29,158,116,1) 70%, rgba(157,181,204,1) 90%);
  box-shadow: 0 0 50px rgba(29,158,116,1) !important;
  animation: back 0.5s linear;
} .ritual_pendulum img {
  max-width: 600px;
}

.fusion_pendulum {
  background: radial-gradient(circle, rgba(29,158,116,1) 70%, rgba(160,134,183,1) 90%);
  box-shadow: 0 0 50px rgba(29,158,116,1) !important;
  animation: back 0.5s linear;
} .fusion_pendulum img {
  max-width: 600px;
}

.synchro_pendulum {
  background: radial-gradient(circle, rgba(29,158,116,1) 70%, rgba(192,192,192,1) 90%);
  box-shadow: 0 0 50px rgba(29,158,116,1) !important;
  animation: back 0.5s linear;
} .synchro_pendulum img {
  max-width: 600px;
}

.xyz_pendulum {
  background: radial-gradient(circle, rgba(29,158,116,1) 70%, rgba(0,0,0,1) 90%);
  box-shadow: 0 0 50px rgba(29,158,116,1) !important;
  animation: back 0.5s linear;
} .xyz_pendulum img {
  max-width: 600px;
}

.link {
  background: linear-gradient(90deg, rgba(0,0,139,1) 80%, rgba(255,255,255,1) 100%);
  box-shadow: 0 0 50px rgba(0,0,139,1) !important;
  animation: back 0.5s linear;
} .link img {
  max-width: 600px;
}

/* --------- */

.backgroundBody {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: url('./yugi.jpg') 50% 50%;
  filter: blur(100px) contrast(2) hue-rotate(360deg);
  animation: back 30s infinite;
  z-index: -1;
} @keyframes back {
  0%,100% {
    filter: blur(0) contrast(1) hue-rotate(0);
  } 50% {
    filter: blur(100px)  contrast(2) hue-rotate(360deg);
  }
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 26;
}
 /* .spinner::before {
  content: '';
  position: absolute;
  top: 0 ;
  height: 100px;
  width: 100px;
  border: 4px solid transparent;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-radius: 50%;
  animation: ooo 0.9s infinite linear;
}  */
.spinner::after {
  content: '';
  position: absolute;
  top: 0 ;
  height: 100px;
  width: 100px;
  border: 2px solid transparent;
  border-top: 2px solid royalblue;
  border-bottom: 2px solid royalblue;
  border-radius: 50%;
  animation: ooo 0.7s infinite linear;
} @keyframes ooo {
  100% {
    transform: rotate(360deg);
  }
}

.highlight {
  position: fixed;
  top: 0 ;
  background-color: #111;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  z-index: 25;
}

.all {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.cards {
  width: 300px;
  margin: 5px;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  /* background-color: #111; */
  background-color: teal;
  color: white;
  transition: 0.3s linear;
  box-shadow: 0 0 50px teal;
}

.cards img {
  width: 100%;
  border-radius: 0 0 25px 25px;
  object-fit: cover;
}

.btns {
  margin-top: 20px ;
  padding-top: 30px ;
  padding-bottom: 20px ;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btns button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: red;
  color: white;
  border: 1px solid ;
  font-size: 20px;
  transition: 0.3s linear;
} .btns button:hover {
  background-color: white;
  color: red ;
}

.btn_open {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px;
}

.open {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 25px;
  border: 0;
  background-color: teal;
  color: white ;
  transition: 0.3s linear;
} .open:hover {
  background: white;
  color: red ;
}



.allDesc {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: lol 0.4s ease-in-out;
} @keyframes lol {
  0% {
    opacity: 0;
  } 50% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  } 100% {
    opacity: 1;
  }
} .desc {
  height: 600px;
  width: 90vw;
  border-radius: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 50px teal;
  background: transparent;
} .desc::before {
  content: '';
  position: absolute;
  left: 0;
  /* bottom: 0; */
  height: 100%;
  width: 100%;
  background: url(yugi.jpg) 50% 50% no-repeat;
  z-index: -1;
  border-radius: 25px;
  animation: back2 30s infinite;
} @keyframes back2 {
  0% , 100% {
    filter: blur(50px) hue-rotate(0) opacity(0.4);
  } 50% {
    filter: blur(50px) hue-rotate(360deg) opacity(1);
  }
}

.desc::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
} .desc::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 25px;
}

.imgCards {
  position: fixed;
} .imgCards img {
  border-radius: 25px;
  box-shadow: 5px 0px 5px rgb(0, 0, 0, 0.3);
  /* max-height: none; */
  height: 600px;
  /* width: 600px;*/
}

.attr {
  width: calc(100% - 650px);
  float: right;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: start;
  padding: 10px 20px;
  color: white ;
  text-shadow: 0 0 10px black;
} .attr span {
  word-spacing: 10px;
  color: gold;
}

.light {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #222;
  opacity: 0.9;
  animation: pop 0.3s linear;
} @keyframes pop {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

.xmark {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 20;
  cursor: pointer;
  font-size: 30px;
  background-color: white;
  color: red;
  padding: 0 10px;
  border-radius: 10px;
  transition: 0.3s linear;
  animation: lol 0.5s linear;
} .xmark:hover {
  color: white ;
  background-color: red;
  transform: translate(-50%) scale(1.2);
}


.searchIcon {
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  width: 150px;
  padding: 10px;
  height: 20px;
  cursor: pointer;
  color: white;
  transition: 0.3s linear;
  font-size: 20px;
  box-shadow: 0 0 10px black;
} .searchIcon:hover {
  color: lightgreen;
} .searchIcon::after {
  content: 'Search . . .';
  position: absolute;
  left: 60px;
} .searchIcon::before {
  content: '';
  position: absolute;
  top: 0 ;
  left: 0;
  background: url(./yugi.jpg);
  width: 100%;
  height: 40px;
  z-index: -1;
  filter: blur(5px) contrast(10) opacity(0.7);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #999;
  height: 40px;
  text-align: center;
  box-shadow: 0 0 30px black;
  font-size: 25px;
  font-weight: bold;
  color: white ;
  text-shadow: 0 0 10px black;
} .header::before {
  content: '';
  position: fixed;
  top: 0 ;
  left: 0;
  background: url(./yugi.jpg);
  width: 100%;
  height: 40px;
  z-index: -1;
  filter: blur(5px) contrast(10) opacity(0.7);
}

.compSearch {
  position: fixed;
  animation: poio 0.4s;
  transform: translate(0);
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
} @keyframes poio {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  } 50% {
    opacity: 0.7;
  } 100% {
    transform: translateX(0);
    opacity: 1;
  }
} .compSearch::before {
  content: '';
  position: absolute;
  background: linear-gradient(95deg, rgba(253,230,138,1) 14%, rgba(255,139,83,1) 25%, rgba(188,90,132,1) 36%, rgba(160,134,183,1) 47%, rgba(29,158,116,1) 58%, rgba(157,181,204,1) 80%, rgba(50,50,153,1) 92%, rgba(0,0,0,1) 100%);
  top: 0 ;
  height: 100vh;
  width: 100%;
  z-index: -1;
} @keyframes ppppp {
  0%,100% {
    filter: hue-rotate(0deg)
  } 50% {
    filter: hue-rotate(360deg) ;
  }
}

.searchHeader {
  text-align: center;
  background-color: transparent;
  
} .searchHeader input {
  padding: 10px;
  border-radius: 25px;
  outline: none;
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 20px;
  color: white ;
  border: 30px solid transparent;
  border-bottom: 1px solid whitesmoke;
} .searchHeader input::placeholder {
  color: white ;
}
  /* .searchHeader::before {
  content: '';
  position: absolute;
  height: 50px;
  background-color: #1D9E74;
  width: 0;
  transition: 0.5s linear;
  z-index: -1;
  border-radius: 10px;
} .searchHeader:hover::before {
  width: 270px;
} */

.searchDesc {
  text-align: center;
  padding: 5px;
  border: 1px solid transparent ;
  border-bottom: 1px solid white;
  color: white;
  font-weight: bold;
}

.xmarkSearch {
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: red;
  padding: 5px 10px;
  z-index: 1;
  border-radius: 25px 0px 0px 25px ;
  font-size: 30px;
  color: white ;
  border: 1px solid transparent ;
  transition: 0.3s linear;
  cursor: pointer;
} .xmarkSearch:hover {
  background-color: white;
  border: 1px solid red;
  color: red ;
}


.searching {
  display: flex;
  padding: 10px 15px;
  /* gap: 50px; */
  flex-wrap: wrap;
  /* justify-content: center; */
  height: 60%;
  flex-direction: column;
  overflow-x: scroll;
  overflow-y: hidden;
  border-bottom: 1px solid white ;
} .searching .cards {
  width: 200px;
  margin: 5px 10px;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  /* background-color: #111; */
  background-color: teal;
  color: white;
  transition: 0.3s linear;
  box-shadow: 0 0 50px teal;
} .searching::-webkit-scrollbar {
  background-color: transparent;
} .searching::-webkit-scrollbar-thumb {
  background-color: #1D9E74;
  margin-top: 0;
}

.btn-load {
  position: absolute;
  bottom: 10px;
  /* margin: 10px; */
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
} .btn-load button {
  padding: 15px 30px ;
  border-radius: 50px;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid white;
  background-color: red;
  color: white;
  transition: 0.4s;
} .btn-load button:hover {
  background-color: white ;
  color: red ;
  border: 1px solid red ;
}

@media (max-width: 1100px) {
  .desc {
    height: 90vh;
  }
  .imgCards {
    position: relative;
    padding: 20px;
  } .attr {
    width: 100%;
    float: none;
  } .attr p {
    margin-right: 25px;
    line-height: 2.5rem;
  } .imgCards img {
    height: 100%;
    width: 600px
  }
}

@media (max-width: 750px) {
  .imgCards img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .header {
    text-align: end;
    padding: 0px 20px;
  }
}