body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(9,9,121);
background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(173,166,160,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  z-index: 2;
}
 /* .spinner::before {
  content: '';
  position: absolute;
  top: 0 ;
  height: 100px;
  width: 100px;
  border: 4px solid transparent;
  border-left: 4px solid white;
  border-right: 4px solid white;
  border-radius: 50%;
  animation: ooo 0.9s infinite linear;
}  */
.spinner::after {
  content: '';
  position: absolute;
  top: 0 ;
  height: 100px;
  width: 100px;
  border: 2px solid transparent;
  border-top: 2px solid royalblue;
  border-bottom: 2px solid royalblue;
  border-radius: 50%;
  animation: ooo 0.7s infinite linear;
} @keyframes ooo {
  100% {
    transform: rotate(360deg);
  }
}

.highlight {
  position: fixed;
  top: 0 ;
  background-color: #111;
  height: 100vh;
  width: 100%;
  opacity: 0.9;
  z-index: 1;
}

.all {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.cards {
  width: 300px;
  margin: 5px;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  background-color: #111;
  color: white;
  transition: 0.3s linear;
} .cards:hover {
  background-color: white;
  color: black
}

.cards img {
  width: 100%;
  border-radius: 0 0 25px 25px;
  object-fit: cover;
}

.btns {
  margin-top: 20px ;
  padding-top: 30px ;
  padding-bottom: 20px ;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btns button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: red;
  color: white;
  border: 1px solid ;
  font-size: 20px;
  transition: 0.3s linear;
} .btns button:hover {
  background-color: white;
  color: red ;
}

.btn_open {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px;
}

.open {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 25px;
  border: 0;
  background-color: black;
  color: white ;
  transition: 0.3s linear;
} .open:hover {
  background-color: white;
  color: black
}

.spell {
  background-color: green;
  box-shadow: 0 0 20px green;
  color: white;
  transition: 0.3s;
} .spell:hover {
  background-color: white;
  color: green
}
.effect {
  background-color: coral;
  box-shadow: 0 0 20px coral;
  color: white;
} .effect:hover{
  background-color: white;
  color: coral ;
}
.trap {
  background-color: purple;
  box-shadow: 0 0 20px purple;
  color: gold;
} .trap:hover{
  background-color: gold;
  color: purple
}
.common {
  background-color: lightcoral;
  box-shadow: 0 0 20px lightcoral;
  color: gold;
} .common:hover {
  background-color: gold;
  color: lightcoral
}


.allDesc {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: lol 0.5s linear;
} @keyframes lol {
  0% {
    opacity: 0;
  } 50% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  } 100% {
    opacity: 1;
  }
} .desc {
  height: 600px;
  width: 90vw;
  border-radius: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 10px yellow;
  background-color: #111;
} .desc::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
} .desc::-webkit-scrollbar-thumb {
  background-color: gold;
  border-radius: 25px;
}

.imgCards {
  position: fixed;
} .imgCards img {
  border-radius: 25px;
  height: 600px;
  width: 600px;
  box-shadow: 0 0 10px yellow;
}

.attr {
  width: calc(100% - 650px);
  float: right;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: start;
  padding: 10px 20px;
  color: white ;
} .attr span {
  word-spacing: 10px;
  color: gold;
}

.light {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #222;
  opacity: 0.9;
  animation: pop 0.3s linear;
} @keyframes pop {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}


@media (max-width: 1100px) {
  .desc {
    height: 90vh;
  }
  .imgCards {
    position: relative;
    padding: 20px;
  } .attr {
    width: 100%;
    float: none;
  } .attr p {
    margin-right: 25px;
    line-height: 2.5rem;
  }
}

@media (max-width: 750px) {
  .imgCards img {
    height: 100%;
    width: 100%;
  }
}